* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  background-color: rgb(213, 217, 218);
}
.header {
  background-color: #84c8ea;
  position: absolute;
  top: 0;
  height: 5rem;
  left: 15%;
  width: 85%;
}
h1 {
  color: black;
  padding: 0.1rem;
  text-align: center;
  margin: auto;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 15%;
  background-color: rgb(12, 12, 12);
  border: 1px solid white;
  overflow: auto;
}
.nav__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.nav__list li {
  border: 1px solid white;
  width: 90%;
  margin: 0.5rem;
  padding: 0.3rem;
}
.nav__list li:hover {
  border: 2px solid red;
}
.nav__list li a {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 0.6em;
  text-decoration: none;
  color: white;
}
.nav__list li a:hover {
  color: red;
}
.main {
  position: absolute;
  top: 10rem;
  left: 15%;
  width: 85%;
}
.main section {
  width: 100%;
}
.main section strong {
  display: block;
  padding: 0.5rem;
  text-align: center;
  color: rgb(27, 26, 26);
  background-color: #afdee8;
}
.main section a {
  padding: 0.5rem;
  text-align: center;
  color: rgb(27, 26, 26);
}
.main ul {
  display: flex;
  padding: 1rem;
  justify-content: start;
  align-items: center;
  flex-flow: column wrap;
  background-color: #84c8ea;
}
.main ul li {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: start;
  color: rgb(27, 26, 26);
}
b {
  color: rgb(0, 51, 204);
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

table {
  border: 1px solid black;
  background-color: rgb(231, 231, 191);
}
table.orders {
  background-color: rgb(181, 234, 124);
}
table.joined {
  background-color: rgb(231, 177, 227);
}

table thead tr th.th {
  background-color: gray;
  border: 1px solid black;
}
table.orders thead tr th.th {
  background-color: rgb(62, 128, 55);
}
table.joined thead tr th.th {
  background-color: rgb(115, 36, 124);
}
table tbody tr td.td {
  border: 1px solid black;
  min-height: 3rem;
}
table tbody tr td.specific {
  border: 1px solid black;
  background-color: rgb(229, 165, 165);
  min-height: 3rem;
}

img {
  width: 100%;
  height: auto;
}

@media (max-width: 800px) {
  .nav,
  .header,
  .main {
    position: relative;
    height: auto;
    min-width: 100%;
  }
}
